{% extends "base.html" %}

{% load mezzanine_tags rating_tags keyword_tags drum_tags future %}

{% block meta_title %}{{ title|default:"Home" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}

{% for juba in object_list %}
<div class="link-item clearfix">
    {% if not profile_user %}{% rating_for juba %}{% endif %}
    <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
        <h2>
            <a href="{{ link.url }}">{{ juba.title }}</a>
        </h2>
        <p>
            {% editable juba.content %}
            {{ juba.content|richtext_filters|safe }}
            {% endeditable %}
        </p>
        by <a class="profile" href="{% url "profile" juba.user.username %}">{{ juba.user.profile }}</a>
        {{ juba.publish_date|short_timesince }} ago |
        {% keywords_for link as tags %}
        {% for tag in tags %}
        <a href="{% url "link_list_tag" tag.slug %}">{{ tag }}</a> |
        {% endfor %}
        <a class="comments" href="{{ link.get_absolute_url }}">{{ juba.comments_count }} comment{{ juba.comments_count|pluralize }} </a>
    </div>
</div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}

{% pagination_for object_list "page" "pjax" %}

{% endblock %}
