<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
<meta name="description" content="{% block meta_description %}{% endblock %}" />
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
<link rel="apple-touch-icon" href="">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}" />
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "mobile/css/pure-min.css" %}">
<link rel="stylesheet" href="{% static "mobile/css/pricing.css" %}">
{% endcompress %}

{% block extra_head %}{% endblock %}

</head>
<body>
<div class="monav">
    <button id="menu" type="button" class="btn navbar-toggle" >
        <a class="menu" href="#sidr"> ☰ Menu</a>
        <span class="header">Backbone React in Practice</span>
    </button>
</div>
<div id="sidr" class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul class="nav">
        <li><a href="#" class="header-link">首页</a></li>
        <li><a href="#userProfile" class="header-link">读吧</a></li>
        <li><a href="#account/create" class="header-link">聚吧</a></li>
        <li><a href="#account/logout" class="header-link">荐吧</a></li>
    </ul>

</div>

<div id="content" class="l-content pure-u pure-u-5-5">
</div>

<div id="footer">
    {% include "mobile/includes/search.html" %}
    <p><a href="{% url "set_device" "default" %}?next={{ request.path }}" rel="external">查看桌面版</a></p>
</div>

{% compress js %}
<script data-main="static/mobile/js/main" src="{% static "mobile/js/lib/require.js" %}"></script>
{% include "mobile/includes/footer_scripts.html" %}
{% endcompress %}

</body>
</html>

