.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}

.breadcrumb > li {
  display: inline-block;
}

.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #cccccc;
  content: "/\00a0";
}

.breadcrumb > .active {
  color: #999999;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.link-item .rating, .link-detail {
    float:none;
}

.link-item .rating {
    float:right;
    position: relative;
    right: 0px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#username-modal.modal.fade {
    top:10%;
}

a {
    text-decoration:none;
}

@font-face {
  font-family: 'phodal';
  src: url('../fonts/phodal.eot');
  src: url('../fonts/phodal.eot') format('embedded-opentype'),
       url('../fonts/phodal.woff') format('woff'),
       url('../fonts/phodal.ttf') format('truetype'),
       url('../fonts/phodal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'phodal';
    src: url('../font/phodal.svg?61793245#phodal') format('svg');
  }
}
*/

 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "phodal";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-wechat:before { content: '\e800'; } /* '' */
.fa-weibo:before { content: '\e801'; } /* '' */
.fa-windows:before { content: '\e802'; } /* '' */
.fa-github:before { content: '\e803'; } /* '' */
.fa-git-squared:before { content: '\e804'; } /* '' */
.fa-git:before { content: '\e805'; } /* '' */
.fa-github-squared:before { content: '\e806'; } /* '' */
.fa-github-circled:before { content: '\e807'; } /* '' */
.fa-qq:before { content: '\e808'; } /* '' */
.fa-google:before { content: '\e809'; } /* '' */
.fa-gplus:before { content: '\e80a'; } /* '' */
.fa-gplus-squared:before { content: '\e80b'; } /* '' */
.fa-thumbs-up:before { content: '\e80c'; } /* '' */
.fa-thumbs-down:before { content: '\e80d'; } /* '' */
.fa-thumbs-up-alt:before { content: '\e80e'; } /* '' */
.fa-thumbs-down-alt:before { content: '\e80f'; } /* '' */

.navbar {
  font-size: 18px; }
  .navbar .brand {
    color: #1abc9c;
    font-size: inherit;
    font-weight: 700;
    padding-bottom: 16px;
    padding-top: 15px; }
  .navbar .nav > li:hover > ul {
    top: 100%; }
  .navbar .nav > li > ul {
    padding-top: 13px;
    top: 80%;
    background-color: white\9; }
    .navbar .nav > li > ul:before {
      content: "";
      border-style: solid;
      border-width: 0 9px 9px 9px;
      border-color: transparent transparent #34495e transparent;
      height: 0px;
      position: absolute;
      left: 15px;
      top: 5px;
      width: 0px;
      -webkit-transform: rotate(360deg); }
    .navbar .nav > li > ul li:hover ul {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      visibility: visible;
      display: block\9; }
    .navbar .nav > li > ul li ul {
      left: 100%; }
  .navbar .nav > li > a {
    padding: 14px 15px 17px; }
    .navbar .nav > li > a:hover {
      color: #1abc9c; }
  .navbar .nav li {
    position: relative; }
    .navbar .nav li:hover > ul {
      opacity: 1;
      z-index: 100;
      -webkit-transform: scale(1, 1);
      visibility: visible;
      display: block\9; }
  .navbar .nav ul {
    border-radius: 4px;
    left: 15px;
    list-style-type: none;
    margin-left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 234px;
    z-index: -100;
    -webkit-transform: scale(1, 0.99);
    -webkit-transform-origin: 0 0;
    visibility: hidden;
    display: none\9;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-backface-visibility: hidden; }
    .navbar .nav ul ul {
      left: 95%;
      padding-left: 5px; }
    .navbar .nav ul li {
      background-color: #34495e;
      padding: 0 3px 3px; }
      .navbar .nav ul li:first-child {
        border-radius: 4px 4px 0 0;
        padding-top: 3px; }
      .navbar .nav ul li:last-child {
        border-radius: 0 0 4px 4px; }
      .navbar .nav ul li.active > a, .navbar .nav ul li.active > a:hover {
        background-color: #1abc9c;
        color: white; }
    .navbar .nav ul a {
      border-radius: 2px;
      color: white;
      display: block;
      font-size: 14px;
      padding: 6px 9px;
      text-decoration: none; }
      .navbar .nav ul a:hover {
        background-color: #1abc9c; }

.navbar-inner {
  border: none;
  padding-left: 4px;
  padding-right: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

.navbar-inverse .navbar-inner {
  background: #34495e;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }
.navbar-inverse .nav > li > a {
  color: white; }
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: transparent;
  color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.navbar-unread {
  background-color: #e74c3c;
  border-radius: 30px;
  color: white;
  display: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  min-width: 8px;
  padding: 0 5px;
  position: absolute;
  right: -7px;
  text-align: center;
  text-shadow: none;
  top: 8px;
  z-index: 10; }
  .active .navbar-unread {
    display: block; }


.btn {
  border: none;
  background: #34495e;
  color: white;
  font-size: 16.5px;
  text-decoration: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden; }
  .btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }
  .btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white; }
  .btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px; }
  .btn.btn-primary {
    background-color: #1abc9c; }
    .btn.btn-primary:hover, .btn.btn-primary:focus {
      background-color: #2fe2bf; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background-color: #16a085; }
  .btn.btn-info {
    background-color: #3498db; }
    .btn.btn-info:hover, .btn.btn-info:focus {
      background-color: #5dade2; }
    .btn.btn-info:active, .btn.btn-info.active {
      background-color: #2383c4; }
  .btn.btn-danger {
    background-color: #e74c3c; }
    .btn.btn-danger:hover, .btn.btn-danger:focus {
      background-color: #ec7063; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background-color: #dc2d1b; }
  .btn.btn-success {
    background-color: #2ecc71; }
    .btn.btn-success:hover, .btn.btn-success:focus {
      background-color: #55d98d; }
    .btn.btn-success:active, .btn.btn-success.active {
      background-color: #27ad60; }
  .btn.btn-warning {
    background-color: #f1c40f; }
    .btn.btn-warning:hover, .btn.btn-warning:focus {
      background-color: #f4d03f; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background-color: #cea70c; }
  .btn-toolbar .btn {
    font-size: 18px;
    padding: 10px 14px 9px; }
    .btn-toolbar .btn:first-child {
      -webkit-border-radius: 6px 0 0 6px;
      -moz-border-radius: 6px 0 0 6px;
      border-radius: 6px 0 0 6px; }
    .btn-toolbar .btn:last-child {
      -webkit-border-radius: 0 6px 6px 0;
      -moz-border-radius: 0 6px 6px 0;
      border-radius: 0 6px 6px 0; }



/* Ratings */
.rating {margin-top:15px;}
.rating * {display:inline !important; list-style-type:none;}
.rating label {margin-right:15px;}
.rating p {margin-right:20px;}
.rating ul {margin-left:0 !important; padding:0 !important;}
.rating li {border:none !important; background:none !important; padding:0 !important;}
.rating li input {margin-top:-4px;}
#comments .rating {padding:0 !important; margin:10px 0 0 0 !important;
                   border:none !important; background:none !important;}
