{% load mezzanine_tags i18n %}
<div itemscope itemtype="http://schema.org/WebSite">
<meta itemprop="url" content="http://www.phodal.com/" />
<form action="{% url "search" %}" class="navbar-search pull-right input-append"  itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
<meta itemprop="target" content="http://www.phodal.com/search/?q={search_term_string}"/>
<input class="search-query" id="autocomplete" placeholder="{% trans "Search" %}" type="text" name="q" value="{{ request.REQUEST.q }}"  itemprop="query-input" type="text" name="search_term_string" required/>

 <script>
$('#autocomplete').autocomplete({
    minChars: 2,
    width: 350,
    serviceUrl: '/api/all/?format=json',
    paramName: 'search',
    transformResult: function(response) {
        var result = [];
        $.each(JSON.parse(response), function(index, dataItem) {
            result.push({value: dataItem.title, data: dataItem.slug, model: dataItem.model});
        });

        return { suggestions: result }
    },
    onSelect: function (suggestion) {
        window.location.href = "/" + suggestion.model + "/" + suggestion.data;
    }
});
</script>

</form>
</div>
