{% extends "base.html" %}

{% load static mezzanine_tags rating_tags keyword_tags drum_tags %}

{% block meta_title %} {{company.title}} {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}


<div class="company-detail-page">
    <div class="card">
        <h1>{{ company.title }}</h1>
        <p>{{ company.content | safe }}</p>
        他们当前正在使用:
        {% for stack in company.stacks.all %}
            <a href="{% url 'stack_detail' stack.slug %}">{{stack.title}}</a>
            {% if stack.category.all %}
                （分类:
                    {% for category in stack.category.all %}<span>『{{ category.title }}』</span>{% endfor %}）
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
