{% extends "base.html" %}

{% load static mezzanine_tags rating_tags keyword_tags drum_tags %}

{% block meta_title %} 全栈技术栈 之{{stack.title}} {% endblock %}
{% block meta_description %} {{stack.description}} {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}


<div class="stack-page">
    {% if stack.featured_image %}
    <img class="featured-image" src="{{ MEDIA_URL}}{{stack.featured_image}} " alt="">
    {% endif %}

    <h1>{{stack.title}}</h1>
    {% if companies %}
    <div class="company-used">
        {% for company in companies %}
        <a href="{% url 'company_detail' company.slug %}">{{company.title}}</a>、
        {% endfor %} 等公司正在使用 {{stack.title}}
    </div>
    {% endif %}

    <div class="markdown">
        <p>{{stack.content | safe}}</p>
    </div>
</div>

{% endblock %}
