{% extends "base.html" %}

{% load static mezzanine_tags rating_tags keyword_tags drum_tags %}

{% block meta_title %} 首页 {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}


<div class="stack">
    {% for stack in stacks %}
        <div class="card">
            <h1><a href="{% url 'stack_detail' stack.slug %}">{{stack.title}}</a></h1>
            <p>{{stack.description}}</p>
        </div>
    {% empty %}
    <p>{{ no_data }}</p>
    {% endfor %}
</div>

{% endblock %}
