{% extends "base.html" %}

{% load static mezzanine_tags rating_tags keyword_tags drum_tags %}

{% block meta_title %} 全栈技术栈 之{{stack.title}} {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}


<div class="stack">
    <div class="card">
        <h1>{{stack.title}}</h1>
        <h4>
            {% for company in companies %}
                <a href="{% url 'company_detail' company.slug %}">{{company.title}}</a>
            {% endfor %}
            等公司正在使用 {{stack.title}}</h4>

        <blockquote>{{stack.description}}</blockquote>
        <div>
            <p>{{stack.content | safe}}</p>
        </div>
    </div>
</div>

{% endblock %}
