{% extends "base.html" %}

{% load i18n mezzanine_tags rating_tags keyword_tags drum_tags future cache %}

{% block meta_title %}{{ title|default:"Home" }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}
    <div class="span5">
    {% cache 600 blogpost  %}
    {% for blog_post in blog_posts.object_list %}
    {% block blog_post_list_post_title %}
    <h2>
    <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
    </h2>

    {% endblock %}
    {% block blog_post_list_post_metainfo %}
    <h6 class="post-meta">
        {% trans "Posted by" %}:
        {% with blog_post.user as author %}
        <a href="{% url "blog_post_list_author" author %}">{{ author.get_full_name|default:author.username }}</a>
        {% endwith %}
        {% with blog_post.categories.all as categories %}
        {% if categories %}
        {% trans "in" %}
        {% for category in categories %}
        <a href="{% url "blog_post_list_category" category.slug %}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
        {% endif %}
        {% endwith %}
    </h6>
    {% endblock %}

    {% if settings.BLOG_USE_FEATURED_IMAGE and blog_post.featured_image %}
    {% block blog_post_list_post_featured_image %}
    <a href="{{ blog_post.get_absolute_url }}">
        <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 60 60 %}">
    </a>
    {% endblock %}
    {% endif %}

    {% block blog_post_list_post_content %}
    {{ blog_post.description_from_content|safe }}
    {% endblock %}
    {% endfor %}
    {% endcache %}
    </div>

    <div class="span3">
    {% for link in links %}
    <div class="link-item clearfix">
        <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
            <h2>
                <a rel="nofollow" href="{{ link.url }}">{{ link.title }}</a>
                <span class="domain">({{ link.domain }})</span>
            </h2>
            by <a class="profile" href="{% url "profile" link.user.username %}">{{ link.user.get_full_name }}</a>
            <a class="comments" href="{{ link.get_absolute_url }}">{{ link.comments_count }} 回复</a>
        </div>
    </div>
    {% empty %}
    <p>{{ no_data }}</p>
    {% endfor %}
    </div>

    <div class="span3">
    {% for juba in jubas %}
    <div class="link-item clearfix">
        {% if not profile_user %}{% rating_for juba %}{% endif %}
        <div class="link-detail{% if link.rating_sum < 0 %} link-negative{% endif %}">
            <h2>
                <a href="{{ link.url }}">{{ juba.title }}</a>
            </h2>
            {{ juba.content|richtext_filters|safe }}
            by <a class="profile" href="{% url "profile" juba.user.username %}">{{ juba.user.get_full_name }}</a>
            <a class="comments" href="{{ link.get_absolute_url }}">{{ juba.comments_count }} 回复 </a>
        </div>
    </div>
    {% empty %}
    <p>{{ no_data }}</p>
    {% endfor %}
    </div>

{% endblock %}