{{ #blog }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{content}}}
    </div>
</div>
{{ /blog }}
{{ #juba }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{content}}}
    </div>
</div>
{{ /juba }}
{{ #link }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{description}}}
    </div>
</div>
{{ /link }}
