{{ #blog }}
<div class="pure-menu">
    <span class="pure-menu-heading">{{title}}</span>
    <ul class="pure-menu-list">
        {{{content}}}
    </ul>
</div>
{{ /blog }}
{{ #juba }}
<div class="pure-menu">
    <span class="pure-menu-heading">{{title}}</span>
</div>
<p>
    {{{content}}}
</p>
{{ /juba }}
{{ #link }}
<div class="pure-menu">
    <span class="pure-menu-heading">{{title}}</span>
    <ul class="pure-menu-list">
        {{{content}}}
    </ul>
</div>
{{ /link }}
