{{ #blog }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{content}}}
    </div>
    <p><a class="pure-button pure-button-primary" href="/set_device/default/?next=/blog/{{slug}}/" rel="external">查看桌面版</a></p>
</div>
{{ /blog }}
{{ #juba }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{content}}}
    </div>
    <p><a class="pure-button pure-button-primary" href="/set_device/default/?next=/juba/{{slug}}/" rel="external">查看桌面版</a></p>
</div>
{{ /juba }}
{{ #link }}
<div class="pure-g">
    <span class="pure-u-1-1 pure-menu-heading"><h1>《{{title}}》</h1></span>
    <span class="pure-u-1-1">作者: {{user}} 时间: {{date}}</span>
    <div class="pure-u-24-24">
        正文: {{{description}}}
    </div>
    <p><a class="pure-button pure-button-primary" href="/set_device/default/?next=/link/{{slug}}/" rel="external">查看桌面版</a></p>
</div>
{{ /link }}
