<div class="pure-menu">
    <span class="pure-menu-heading"><h3>读吧</h3></span>
    <ul class="pure-menu-list">
        {{ #items }}
        <li class="pure-menu-item"><a href="#"><a href="{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /items }}
    </ul>
</div>
<div class="pure-menu">
    <span class="pure-menu-heading">聚吧</span>
    <ul class="pure-menu-list">
        {{ #items }}
        <li class="pure-menu-item"><a href="#"><a href="{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /items }}
    </ul>
</div>
<div class="pure-menu">
    <span class="pure-menu-heading">荐吧</span>
    <ul class="pure-menu-list">
        {{ #items }}
        <li class="pure-menu-item"><a href="#"><a href="{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /items }}
    </ul>
</div>

