<div class="pure-menu">
    <span class="pure-menu-heading"><h3>读吧</h3></span>
    <ul class="pure-menu-list">
        {{ #blog }}
        <li class="pure-menu-item"><a href="#"><a href="#/blog/{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /blog }}
    </ul>
</div>
<div class="pure-menu">
    <span class="pure-menu-heading"><h3>聚吧</h3></span>
    <ul class="pure-menu-list">
        {{ #juba }}
        <li class="pure-menu-item"><a href="#"><a href="#/juba/{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /juba }}
    </ul>
</div>

<div class="pure-menu">
    <span class="pure-menu-heading"><h3>荐吧</h3></span>
    <ul class="pure-menu-list">
        {{ #link }}
        <li class="pure-menu-item"><a href="#"><a href="#/link/{{slug}}" class="pure-menu-link">{{title}}</a></li>
        {{ /link }}
    </ul>
</div>

