</div>
{{ #link }}
<div class="pure-menu">
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-link" href="#/link/{{slug}}">{{title}}</a></li>
    </ul>
</div>
{{ /link }}
