{% extends "base.html" %}

{% load static mezzanine_tags rating_tags keyword_tags drum_tags %}

{% block meta_title %} 首页 {% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block main %}


<div class="show">
{% for show in shows %}

    <div class="card">
        <div class="card__panel-head">{{show.title}} {{show.posted_on | timesince}} </div>
        <div class="card__panel-body">
            <img class="card__main-image" src="{{ STATIC_URL}}/media/{{show.image}} " alt="">
        </div>
    </div>
{% empty %}
<p>{{ no_data }}</p>
{% endfor %}
</div>

{% endblock %}
